<div class="container">
    
<div class="t1">
  <label class="d1" >FLOOR </label>
  <select class="s1" id="dropdown">
    <option value="option1">1</option>
    <option value="option2">Option 2</option>
    <option value="option3">Option 3</option>
  </select>
</div>

<div class="t1">
  <label class="d1" >SECTION </label>
  <select class="s1" id="dropdown">
    <option value="option1">Lab 1</option>
    <option value="option2">Lab 2</option>
    <option value="option3">Lab 3</option>
  </select>
</div>

<div class="t1">
  <label class="d1" >VIEW </label>
  <select class="s1" id="dropdown">
    <option value="option1">individual</option>
    <option value="option2">group</option>
    <option value="option3">Shared</option>
  </select>
</div>

<div class="t1">
  <label class="d1" >METER </label>
  <select class="s1" id="dropdown">
    <option value="option1"> METER 1</option>
    <option value="option2">METER 2</option>
    <option value="option3">METER 3</option>
  </select>
</div>

</div>


