.header {
    height: 230px;
    width: 50%;
    background-color: whitesmoke;
    color: #fff;
    display: flex;
    justify-content: space-between;
    box-shadow: 5px 5px 5px #939393;
    position: absolute;
}


.chartt{
    height: 240px;
    width :auto;

    display: flex;
    margin-left: 150px;
   
}