
<div class="header">
    <div class="first">
        <h4 class="kk">KEY PARAMETERS</h4><br>
    </div>
    
    <div class="sec">
        <span>        <ngx-gauge class="gg"
            [value]="gaugeValue"
            [min]="gaugeMin"
            [max]="gaugeMax"
            [label]="gaugeLabel"
            [size]="gaugeSize"
            >
          </ngx-gauge></span>
          <span>
            <ngx-gauge class="gg1"
            [value]="gaugeValue1"
            [min]="gaugeMin1"
            [max]="gaugeMax1"
            [label]="gaugeLabel1"
            [size]="gaugeSize1"
            >
          </ngx-gauge>
          </span>
          <span>
            <ngx-gauge class="gg2"
            [value]="gaugeValue2"
            [min]="gaugeMin2"
            [max]="gaugeMax2"
            [label]="gaugeLabel2"
            [size]="gaugeSize2"
            >
          </ngx-gauge>
          </span>
          <span>
            <ngx-gauge class="gg3"
            [value]="gaugeValue3"
            [min]="gaugeMin3"
            [max]="gaugeMax3"
            [label]="gaugeLabel3"
            [size]="gaugeSize3"
            >
          </ngx-gauge>
          </span>
          <span>
            <ngx-gauge class="gg4"
            [value]="gaugeValue4"
            [min]="gaugeMin4"
            [max]="gaugeMax4"
            [label]="gaugeLabel4"
            [size]="gaugeSize4"
            >
          </ngx-gauge>
          </span>
          
    </div>
    

    
  </div>
