.header {
    height: 88px;
    padding: 20px 50px;
    background-color: whitesmoke;
    color: #fff;
    display: flex;
    justify-content: center;
    box-shadow: 5px 5px 5px #939393;
    flex-direction: column;
    align-content: center;
}
.gg{
    color: black;
    float: left;
    display: flex;
    margin-left: 100px;
    
}

.gg1{
    color: black;
    float: left;
    display: flex;
    margin-left: 150px;
    
}

.gg2{
    color: black;
    float: left;
    display: flex;
    margin-left: 200px;
    
}

.gg3{
    color: black;
    float: left;
    display: flex;
    margin-left: 250px;
    
    
    
}

.gg4{
    color: black;
    float: left;
    display: flex;
    margin-left: 255px;
    
    
    
}



.kk{
    display: flex;
    color: black;
    margin-left: 0;
    margin-top: 0;
}

.first{
    height: 30px;
    width: 100%;
   
}

.sec{
    height: 100px;
    width: 100%;
    

}