.header {
    height: 35px;
    
    background-color: white;
    color: #fff;
    display: flex;
    justify-content: space-between;
    
}
.a1{
    align-self: center;
    padding-left: 1480px;
    color: blue;
}